<div class="discount-selector solid padded">
    <strong>Apply Discount</strong>
    <div class="flex row">
        <label>SKU:</label>
        <input type="text" />
    </div>
    <div class="flex row">
        <label>Discount Type:</label>
        <select (change)="handleChange($event)">
            <option value="10%off">10% Off</option>
            <option value="$1off">$1 Off</option>
            <option value="b1g1">Buy 1 Get 1</option>
        </select>
    </div>
    <div class="textAlignRight footer">
        <button>Apply</button>
    </div>
</div>
