<div class="cart-items padded">
    <table class="wide">

        <thead>
            <tr>
                <th>SKU</th>
                <th>Desc.</th>
                <th class="numeric">Quantity</th>
                <th class="numeric">Price</th>
                <th class="numeric">Subtotal</th>
                <th class="numeric">Discount</th>
                <th class="numeric">Total</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let item of getItems(); let i = index">
                <tr>
                    <td>{{item.sku}}</td>
                    <td>{{item.description}}</td>
                    <td class="numeric">
                        <input 
                            class="qty"
                            type="number" 
                            [value]="item.quantity.toFixed(0)" 
                            min="1"
                            (click)="handleQuantityChange({
                                event: $event, 
                                sku: item.sku
                            })"
                        />
                    </td>
                    <td class="numeric">{{item.price|currency }}</td>
                    <td class="numeric">{{item.subTotal|currency }}</td>
                    <td class="numeric">{{ item.discount ? (item.discount|currency) : '-' }}</td>
                    <td class="numeric">{{item.total|currency}}</td>
                </tr>
            </ng-container>
        </tbody>

    </table>
</div>
