<div class="container --show-layout">

  <div class="flex row">
    <header></header>
  </div>

  <div class="flex row spaced">
    <div class="grow" >
      <address [addressType]="'Billing'"></address>
    </div>
    <div class="grow">
      <address [addressType]="'Shipping'"></address>
    </div>
    <div class="grow">
      <discount-selector></discount-selector>
    </div>
  </div>

  <div class="flex row">
  
    <div class="main-panel">
      <cart-items></cart-items>
    </div>

    <div class="right-side-panel">
    
      <div class="order-summary sticky">

        <order-summary></order-summary>        

      </div>

    </div>

  </div>

</div>

