<div class="new-cart-item padded">
    
    <strong>Add a product</strong>
    <div class="flex row spaced align-items-center">
        <div class="flex row grow">
            <input class="grow"
                type="text" 
                (keydown)="handleKey($event)"
                list="suggestions" 
                (change)="handleSelect($event)"
                placeholder="What do you want to add?"
            />

            <datalist id="suggestions">
                <option 
                    *ngFor="let product of suggestions" 
                    [value]="product.sku"
                    
                >{{product.description}}</option>
            </datalist>
        </div>
        
        <div>
            <button [disabled]="!selectedProduct" (click)="handleAdd()">Add</button>
        </div>
        
    </div>

</div>